.contacto-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fafafa;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 180px;
}

.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto-form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.contacto-form input,
.contacto-form textarea {
  margin-top: 0.3rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: whitesmoke;
}

.contacto-form button {
  background-color: #2b4eff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.contacto-form button:hover {
  background-color: #1d37cc;
}

.mensaje-exito {
  color: green;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}
