.navbar {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

/* Lista de enlaces */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: #004c8c;
  transition: all 0.3s ease;
  position: relative;
}

/* Subrayado animado 
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0077c8;
  transition: width 0.3s ease;
}*/

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #0077c8;
}
.in-cart {
  color: black;
  margin-left: 4px;
}
/* ---------- Responsive ---------- */

.nav-toggle {
  display: none;
  cursor: pointer;
}
